.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  table {
    text-align: center;
    width: 100vh;
  }
  
  button {
    margin-inline: 1vh;
  }
  
  .green {
    color: white;
    background-color: rgb(0, 220, 0);
  }
  
  .yellow {
    background-color: rgb(240, 240, 0);
  }
  
  .red {
    color: white;
    background-color: rgb(240, 0, 0);
  }